
.header_logo img{
    width:547px ; 
    height: 82px  ;
}

/* NAVBAR */
.navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.navbar a{
    font-size: 16px;
    font-weight: 600;
}
.navbar a:hover{
    background-color: #003478;
    color: white;
}
.welcome {
    background-color: rgb(0, 163, 255);
    color: #fff ;
}


/* MAIN */
.main{
    padding-left: 0px;
    padding-right: 0px;
    
}
.main h3{
    text-align: center;
    color: #003478;
    border-bottom: #000 1px dotted;
}

.new h3{
    text-align: center;
    color: #003478;
    border-bottom: #000 1px dotted;
}
.addposts{
    background-color: #fff;
    margin-left: 10%;
    margin-right: 10%;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}



.form-popup {
  display: none;
  height: 450px;
  width: 600px;
  position: fixed;
  right: 2px;
  bottom: 20%;
  border: 3px solid #000;
  margin-left: 0%;
  margin-right:36%;
  margin-top: 10%;
  opacity: 1;
  background-color: #fff;
  border-radius: 3%;
}

/* ADDPOST */
.btn:hover {
    background-color: gainsboro;
    border-top-right-radius: 3%;
}
.btn i{
    font-size: 30px;
}

.table img{
    width: 160px; 
    height:140px;
}
/* NEW */
.new ::-webkit-scrollbar { 
    display: none; 
}